body {
    margin: 0;
    font-family: "Calibri", sans-serif;
}
.container {
    width: 70%;
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #222;
}
header {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    position: fixed;
    top: 10px;
    left: 19vw;
    right: 20vw;
    width: 60vw;
    border-radius: 40px;
    z-index: 1001;
    transition: background-color 0.5s ease-in-out;
}

header.scrolled {
    background-color: #222;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
    margin: auto;
    align-items: center;
    width: 3em;
}

.logo a img {
    width: 3em;
}

.logo img:hover {
    animation: spin 1s ease-out;
}

.last-name {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}

.last-name1 {
    font-size: 1.5rem;
    font-weight: 800;
}

.last-name2 {
    font-size: 1rem;
    font-weight: lighter;
}

nav {
    margin-right: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li {
    display: inline;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background-color 0.5s;
}

.nav-links li,
.nav-links li a {
    text-decoration: none;
    color: white;
    position: relative;
    overflow: hidden;
}

.nav-links li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transition: width 0.8s, height 0.8s, top 0.8s, left 0.8s;
    border-radius: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
}

.nav-links li:nth-child(1)::before {
    background: #ff0092;
}

.nav-links li:nth-child(2)::before {
    background: #ffca1b;
}

.nav-links li:nth-child(3)::before {
    background: #ba01ff;
}

.nav-links li:hover::before {
    width: 200%;
    height: 400%;
    top: 50%;
    left: 50%;
}

.nav-links li:hover {
    color: white;
}

.nav-links li span {
    position: relative;
    z-index: 1;
}

.menu-toggle {
    display: none;
    font-size: 2em;
    cursor: pointer;
    padding: 5px;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#portada {
    background: url('./portada.svg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    height: 100vh;
    color: white;
    text-align: center;
    font-family: 'Calibri', sans-serif;
}

.portada-container {
    display: flex;
    width: 70%;
    max-width: 1200px;
    justify-content: space-around;
    align-items: center;
}

.portada-left,
.portada-right {
    animation: slideUp 1s ease-out;
    text-align: center;
}

.portada-left h2,
.portada-right h2 {
    font-size: 4rem;
    margin: 0;
    text-shadow: 4px 4px #111;
}

.portada-left p,
.portada-right p {
    align-items: center;
    width: 400px;
    font-size: 1.1rem;
    margin-top: 10px;
    text-shadow: 2px 1px #111;
}

.acerca {
    width: 70vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.acerca-container {
    width: 70vw;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 250px 30px 30px 30px;
    box-sizing: border-box;
}

.acerca-left {
    width: 35vw;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.acerca-left img {
    width: 120px;
    object-fit: cover;
    top: 0;
    left: 0;
}
.linea-tiempo {
    padding-top: 20px;
}
.linea-tiempo-item {
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linea-tiempo-item h3, .linea-tiempo-item p {
    margin: 0;
}

.acerca-right {
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px #ddd;
    width: 35vw;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.acerca-dowwn {
    width: 70vw;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

#diseno-grafico,
#diseno-web {
    width: 70vw;
    display: flex;
}

.left,
.right {
    width: 35vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.left {
    position: relative;
    color: white;
    text-align: center;
}

.left img,
.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
}

.right {
    background-color: white;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: #333;
    color: white;
    font-size: 1em;
}

.fade-up {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(90px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(720deg);
    }
}

@media (max-width: 768px) {
    header {
        margin: 0;
        border-radius: 0;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background: #333;
        width: 200px;
        padding: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
        font-size: 2.5em;
        padding: 10px;
    }

    .portada-container {
        flex-direction: column;
    }

    .portada-left,
    .portada-right {
        width: 100%;
        margin-bottom: 20px;
    }

    #diseno-grafico,
    #diseno-web {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
        height: 50%;
    }
}